<form action = "/albums/<%=@album.id%>/buy" method="post">
  <label for="quantity">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="title-field"
  />
<button type="submit"></button>
</form>
