<form method="post" action = "/albums/:id">

  <label for="title">title:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  />

  <label for="genre">Genre:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />
  <label for="price">Price:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />
  <label for="cost">Cost:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  />
  <button type="submit">Update</button>

</form>
