<form method="post" action = "/albums">

  <label for="title">title:</label>
  <input
  type="text"
  name="title"
  id="last-name-field"
  
  />

  <label for="genre">Genre:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />
  <label for="price">Price:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />
  <label for="cost">Cost:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  />

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  />

  <label>
    Select an artist:
    <select name="artist_id">
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  </label>
  <button type="submit">New Album</button>


</form>
