<form method = "post" action = "/artist/<%=@artist.id%>/edit">

  <label for="name">Artist:</label>
  <input
  type="text"
  name="name"
  id="title-field"
  />
  <button type="submit">Update</button>
</form>
