<h1>Artists</h1>

<% @artist.each do |artist| %>

<p>Artist: <%=artist.name%></P>

  <p> <a href = "/artists/<%= artist.id%>/edit">Edit artist<a/> </p>


  <form method = "post" action ="/artists/<%= artist.id%>/delete">

    <button type="submit">Remove Artist</button>

  </form>
<%end%>
