<h1>Artists</h1>

<% @artist.each do |artist| %>

<p>Artist: <%=artist.name%></P>

  <p> <a href = "/artists/<%= artist.id%>">Edit artist<a/> </p>
  <p> <a href = "/artists/<%= artist.id%>">Delete album<a/></p>

<%end%>
